@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  @media screen and (max-width: 820px) { 
    .searchBar{
      display: none;
    }
    .searchBarLittle{
      display: block;
    }
  }

  .news-card-effect {
    z-index: 100;
    position: relative;
    width: 100%;
  }

  .news-card-effect:hover::after {
    height: 53%;
  }

  .news-card-effect:after {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    content: "";
    width: 2px;
    height: 57%;
    background-color: white;
    position: absolute;
    right: -2px;
    top: 0px;
  }

  /* Spinner de https://loading.io/css/*/
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
}

.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-300;
}

.btn-purple {
  @apply bg-fuchsia-400  shadow-lg  shadow-fuchsia-500/50 text-white;
}

.btn-green {
  @apply bg-green-500 shadow-lg shadow-green-500/50 text-white;
}
